# Ignore all .log files
*.log
# Ignore all files in the temp directory
temp/
# Ignore a specific file
secret.txt
# Ignore all .txt files in a specific folder
bin/*.txt
# Ignore all .env files except .env.sample
.env
!.env.sample
